* {
  box-sizing: border-box;
}

:root {
  --orange-color: #f2811d;
  --grey-color: #f0f0f0;
  --dark-grey: #656d72;
  --light-black: #232e35;
  --content-font: "Inter", sans-serif;
  --header-font: "Plus Jakarta Sans", sans-serif;
  --content-padding: 15px;
  --content-font-size: 0.875rem;
}

nav {
  width: 100%;
  height: 60px;
  padding: var(--content-padding);
  border-bottom: solid 1px var(--grey-color);
  position: fixed;
  top: 0;
  font-family: var(--content-font);
  font-size: 0.875rem;
  background-color: #ffffff;
}

.nav-content {
  list-style-type: none;
  padding: 0.65em 0;
}

.nav-content li {
  display: inline-block;
  margin-right: 30px;
}

.nav-content a {
  text-decoration: none;
  color: var(--light-black);
}

.nav-content a:hover {
  color: var(--orange-color);
}

main {
  margin-top: 45px;
}

section:nth-child(odd) {
  background-color: #ffffff;
}

section:nth-child(even) {
  background-color: var(--grey-color);
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 70px;
  margin: 0 var(--content-padding);
}

.intro-text {
  width: 100%;
}

.sub-title {
  display: flex;
  font-family: var(--header-font);
  font-size: 0.625rem;
  letter-spacing: 0.46875rem;
  color: var(--dark-grey);
  padding: 20px 0;
}

.title-line {
  width: 3%;
  margin-right: 5px;
}

.title-text {
  width: 95%;
  text-transform: uppercase;
}

h1 {
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 32px;
}

.family-name {
  color: var(--orange-color);
}

.content-text {
  font-family: var(--content-font);
  color: var(--light-black);
  font-size: var(--content-font-size);
  line-height: 1.6875rem;
  margin-bottom: 15px;
}

.social-media a {
  margin-right: 15px;
}

.fa-brands,
.fa-solid {
  color: #000000;
}

.fa-brands:hover,
.fa-solid:hover {
  color: var(--orange-color);
}

.intro-pic {
  display: none;
}

.project-main {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: column wrap;
  gap: 50px;
}

.project-indi {
  width: 100%;
}

h2 {
  font-weight: 700;
  font-size: 1.35rem;
  font-family: var(--header-font);
  color: var(--orange-color);
  padding: 0.625rem 0;
}

form,
input,
textarea {
  width: 100%;
  font-family: var(--content-font);
  font-size: var(--content-font-size);
}

input,
textarea {
  padding: 1em;
  margin-bottom: 15px;
  background-color: var(--grey-color);
  border: 0;
  border-radius: 8px;
}

textarea {
  margin-bottom: 40px;
}

.submit-btn {
  background-color: var(--orange-color);
  color: #ffffff;
}

footer {
  padding-top: 100px;
}

footer .social-media {
  text-align: center;
  font-size: 1.5rem;
}

.attribution {
  color: var(--dark-grey);
  text-align: center;
  font-size: 0.75rem;
  padding: 2em 0 5em;
  line-height: 1.5em;
}

.attribution a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .nav-content,
  .section-content {
    max-width: 1000px;
    margin: 0 auto;
  }

  #intro .section-content {
    justify-content: space-between;
    gap: 50px;
  }

  .intro-text {
    width: 60%;
  }

  .intro-pic {
    display: block;
    width: 20%;
    text-align: center;
  }

  .intro-pic img {
    max-width: 200px;
    margin-top: 12px;
  }

  .project-main {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;
  }

  .project-indi {
    width: 45%;
    margin-bottom: 50px;
  }

  #contact {
    display: flex;
    justify-content: center;
  }

  .contact-form {
    max-width: 500px;
  }
}
