/* Base layer */

html {
  overscroll-behavior: none;
  background-color: #365486;
  font-family: sans-serif;
  color: #0f1035;
}

/* Overall website */

div {
  border-radius: 5px;
}

.sidebar {
  background-color: #dcf2f1;
  width: 15%;
  height: 40vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  background-color: #dcf2f1;
  height: 200vh;
  width: 82.5%;
  position: fixed;
  left: 16.5%;
  padding: 1%;
  box-sizing: border-box;
}

span.sidebar-item {
  border-style: solid;
}

.sidebar-item {
  text-align: center;
  margin: 0 5%;
  padding: 2%;
  border-style: dotted;
}

#sidebar-title {
  font-weight: bold;
}

.contentBox {
  text-align: center;
  margin: 0 auto 2%;
  padding: 1% 5%;
  background-color: #7fc7d9;
}

.contentBox:nth-child(even) {
  background: #0f1035;
  color: #dcf2f1;
}

.contentCard {
  width: max-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2% auto;
  padding: 2%;
  background-color: #dcf2f1;
}

img {
  width: 25vw;
  margin: auto;
}

a:visited {
  color: rgb(110, 171, 203);
}

/* Responsiveness */

@media only screen and (max-width: 600px) {
  html {
    font-size: smaller;
  }

  .sidebar {
    width: auto;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    padding: 1%;
  }
  .main {
    width: auto;
    position: static;
    margin-top: 2%;
    padding: 2%;
  }
  .sidebar-item {
    width: 20vw;
    margin: auto;
    box-sizing: border-box;
  }
}

/* Battery specific */

#batteryLevel {
  height: 50%;
  width: 50%;
  background-color: greenyellow;
  background-clip: content-box;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 1%;
  box-sizing: border-box;
}

#batteryKnob {
  height: 25%;
  width: 1%;
  background-color: blue;
  position: absolute;
  top: 37.5%;
  left: 75%;
}

.batteryVertical {
  height: 98%;
  width: 2%;
  background-color: blue;
}

.batteryHorizontal {
  height: 10%;
  width: 100%;
  background-color: blue;
  z-index: 10;
}

#batteryHorizontalBottom {
  margin: 2% auto 0;
}

#batteryHorizontalTop {
  margin: 0 auto;
}

#batteryDescription {
  text-align: center;
  padding-top: 0.5rem;
  margin: 0 auto;
}

#batteryBackground {
  height: 200px;
  position: relative;
}

.batteryFrame {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 1%;
  box-sizing: border-box;
}

#batteryFrameOne {
  background-color: aliceblue;
  flex-direction: column;
}

#batteryFrameTwo {
  flex-direction: row;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  width: 200%;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 25%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.5em;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
