* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 242, 216);
}

#welcome-section {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  color: rgb(58, 166, 185);
  padding: 15px;
  border: 5px solid rgb(58, 166, 185);
  border-radius: 10px;
  margin: 50px;
  text-align: center;
}

#avatar {
  max-width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 450px;
}

h2 {
  font-size: 35px;
  text-align: center;
  color: rgb(162, 34, 83);
  padding: 10px;
  margin-top: 30px;
}
h3 {
  font-size: 30 px;
  text-align: center;
  color: rgb(162, 34, 83);
  padding: 5px;
  margin-top: 15px;
}
.header {
  text-align: center;
  font-size: 30px;
  color: rgb(255, 242, 216);
  background-color: rgb(58, 166, 185);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 15px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 30px;
}

.project-tile img {
  width: 400px;
  height: 450px;
}

.project-name {
  font-size: 30px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact {
  font-size: 20px;
  color: rgb(162, 34, 83);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 1px 45px;
  width: 200px;
}
