* {
  box-sizing: border-box;
}

body {
  background-image: url("light-beige-wallpaper.jpeg");
  margin: 0;
}

/* header section */
.header-section {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  padding: 12px;
}

.header {
  display: flex;
  justify-content: space-around;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#author-name {
  letter-spacing: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

.header-navigation a {
  display: inline-block;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.hire-button {
  padding: 10px;
  margin: 5px;
  background-color: white;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* home section */

.home-section {
  height: 65vh;
}

.about {
  padding: 10vh 40vh 20vh 30vh;
}

p.title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(64, 21, 21);
}

.say-hello-button {
  padding: 10px;
  background-color: whitesmoke;
}

/* projects */

.projects-section,
.skills-section {
  height: 50vh;
}

h1 {
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
.project-container,
.image-container {
  display: flex;
  justify-content: space-around;
}

.button-container {
  display: flex;
  height: 20vh;

  justify-content: space-around;
  align-items: flex-end;
}

img[alt*="launching"] {
  height: 5vh;
  border: 3px solid black;
}

.project-title {
  text-decoration: underline;
  font-size: 20px;
  text-underline-offset: 0.5rem;
  font-family: monaco;
}

/* skills section */
.skills-section {
  height: 30vh;
}

ul li {
  display: inline-block;
  padding: 20px;
}

ul {
  text-align: center;
}

/* contact section */

.contact-section {
  height: 20vh;
}

h2 {
  text-align: center;
}

.contact img {
  height: 40px;

  display: inline-block;
  margin: auto;
}

.contact {
  text-align: center;
}

.footer-message {
  text-align: center;
  font-style: italic;
  font-size: 15px;
}
