* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #252726;
}


/* Nav */
nav {
  background-image: linear-gradient(to bottom, rgba(67,79,79,1), rgba(255,0,0,0));
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  display: flex;
  margin-right: 80px;
  list-style-type: none;
}

nav ul li {
  padding-left: 70px;
  font-size: 24px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* Hero */
.hero-container {
  background-color: burlywood;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, transparent, #252726), url(./images/unsplah-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container h1{
  font-size: 70px;
  font-weight: 600;
  color: white;
} 

.hero-container h2 {
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  color: lightgrey;
}

/* Works */
.works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-container h1 {
  font-size: 2.25rem;
  font-weight: 200;
  margin: 15px;
  color: whitesmoke;
  width: 80%;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  max-width: 80%;
}

.works-image {
  margin: 10px;
  width: 30%;
  height: auto;
}

/* Contact */
.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0px;
}

.contacts-container h1 {
  display: flex;
  padding-bottom: 50px;
  font-size: 50px;
  width: 80%;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.socials {
  display: flex;
  color: whitesmoke;
  width: 80%;
  justify-content: center;
}

.socials ul {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.socials ul li img{
  width: 40px;
  margin: 0px 20px;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(257deg) brightness(107%) contrast(101%);
}

/* Footer */
footer {
  text-align: center;
  color: whitesmoke;
  margin: 20px;
}

/*** Media Query ***/
