* {
  box-sizing: border-box;
  font-family: Helvetica;
}

html {
  scroll-behavior: smooth;
}

/* top navigation bar */

header {
  display: flex;
  justify-content: center;
  background: rgb(18, 15, 34);
  z-index: 1;
}

#top-navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
  margin: 20px auto;
}

#top-nav-items {
  display: flex;
  justify-content: space-between;
  min-width: 30%;
  gap: 25px;
}

/* sections and container settings */

body {
  margin: 0;
  background: rgb(18, 15, 34);
  color: azure;
}

section {
  display: flex;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1280px;
  margin: 80px auto;
}

#about-2,
#about-3,
#scroll-arrow-section {
  background-color: rgb(20, 17, 33);
}

#scroll-arrow-section {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: auto;
  padding-top: 60px;
}

#arrow-prompt {
  min-width: auto;
  width: 20%;
  max-width: 30px;
  margin-top: 10px;
}

#contact {
  background-color: rgb(20, 17, 33);
}

#contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
}

/* other settings */

/* .scroll-arrow-prompt {
  justify-content: center;
  max-width: 10%;
} */

/* #video-bg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: -2;

  opacity: 0.125;
} */

button {
  width: fit-content;
  padding: 15px 30px;
  margin: 30px 0 0 0;
  background: rgba(0, 0, 0, 0);
  color: azure;
  border: 2px solid rgb(49, 219, 162);
  border-radius: 4px;

  scale: 1;
  transition: 0.5s;
}

a {
  color: azure;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: 0 5%;
}

.key-visuals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: 0 5%;
}

img {
  min-width: 200px;
  width: 100%;
}

.scroll-arrow-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-w-img-div {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.icons {
  margin: 0 20px 0 0;
  width: 80px;
}
.icons img {
  min-width: auto;
}

.inner-text-div {
  min-width: auto;
  width: 80%;
}

.input-div-holder {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* type settings */

#logo {
  font-size: 20px;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.5rem;
  margin: 30px 0 0 0;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 30px 0 0 0;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0 0 0 0;
}

p {
  font-size: large;
  font-weight: lighter;
  line-height: 1.5rem;
  margin: 20px 0 0 0;
}

button {
  font-size: medium;
}

.font-highlight {
  color: rgb(49, 219, 162);
}

.font-underline {
  text-decoration: underline solid rgb(49, 219, 162);
  text-underline-offset: 6px;
}

.scroll-arrow-prompt {
  font-weight: lighter;
}

/* other combo settings */

.skills-n-tools {
  display: flex;
  position: relative;
  align-self: center;
  max-width: fit-content;
  height: auto;
  margin: 60px 0;
}

.text-div.longer-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  width: 100%;
  /* margin: 0 5%; */
}

.container.longer-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin-top: 0px;
  /* margin: 0 5%; */
}

label {
  margin-bottom: 10px;
}

.text-div.contact {
  margin-bottom: 60px;
}

h1 .font-highlight.scale {
  font-size: 2.8rem;
  line-height: 3.5rem;
  margin: 30px 0 0 0;

  transition: 0.5s;
}

/* contact form */

.field {
  height: 30px;
}

#form-textarea {
  height: 200px;
}

#form-btn {
  width: 100%;
}

input,
textarea {
  background-color: dimgray;
  border-color: azure;
  border-radius: 5px;
  font-size: medium;
  padding: 5px;

  color: azure;
}

input:focus,
textarea:focus {
  outline: rgb(49, 219, 162);
  outline-style: groove;
  outline-width: 2px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 40px;
}

.social-link {
  width: 15%;
  max-width: 50%;
}

img.social-img {
  min-width: auto;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  background-color: rgb(20, 17, 33);
  font-weight: lighter;
  font-size: 0.9rem;
}

/* slider */

.slider-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

img .slides {
  vertical-align: middle;
}

.slider-back,
.slider-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slider-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider-back:hover,
.slider-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slider-dots {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider-dots:hover {
  background-color: #717171;
}

.transition {
  animation-name: transition;
  animation-duration: 1.5s;
}

@keyframes transition {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slides-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 50%;
  gap: 20px;
}

/* interactions */

h1 .font-highlight.scale:hover {
  font-size: 3.2rem;
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  background: rgb(49, 219, 162);
  scale: 1.05;
  transition: 0.5s;
  cursor: pointer;
}

.active {
  text-decoration: underline solid rgb(49, 219, 162);
  text-decoration-thickness: 4px;
  text-underline-offset: 15px;
}

.animate {
  position: relative;
  animation-name: floating;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease-in-out;
}

#arrow-prompt {
  position: relative;
  animation-name: floating;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: ease;
}

@keyframes floating {
  from {
    top: -4px;
  }
  to {
    top: 4px;
  }
}

/* media query */

@media only screen and (max-width: 1023px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 60px auto;
  }

  .container.reverse {
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
  }

  #about-3 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
  }

  .key-visuals {
    max-width: 50%;
  }

  .container > * {
    width: auto;
    justify-content: center;
  }

  .skills-n-tools {
    margin-right: 15%;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .text-div.longer-width {
    width: 80%;
  }

  .container.longer-width {
    margin-bottom: 0;
  }

  .social-icons {
    justify-content: center;
  }

  .text-div.contact h2,
  .text-div.contact p {
    text-align: center;
  }

  /* #video-bg {
    width: auto;
  } */
}

@media only screen and (max-width: 739px) {
  #top-navbar {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .text-w-img-div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .icons {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .text-div.longer-width {
    width: 100%;
    max-width: 100%;
  }

  #contact-form {
    width: 90%;
  }

  .input-div-holder {
    flex-direction: column;
  }
}
