:root {
  background-color: #41521f;
}

div {
  display: flex;
}

h1 {
  text-align: center;
  padding: 50px;
}

body {
  background-color: var(--main-dark-green);
  font-family: "Roboto", sans-serif;
  font-size: larger;
}

.project-tile {
  background-color: #a89f68;
}

.project-tile-wrapper {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 5vw;
}

p {
  margin: 5vw;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #f5fdc6;
}

.nav-bar-links {
  margin-left: 2vw;
}

a {
  background-color: ;
}
