* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #182628;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

h2 {
  padding: 10px 10px;
  transition: 200ms ease-in-out;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

body {
  font-family: Poppings, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  background-image: linear-gradient(to right, lightgrey, skyblue);
}

button {
  background: salmon;
  border: none;
  color: #ffffff;
  display: center;
  text-align: inline;
  padding: 15px 15px;
  border-radius: 20px;
  font-size: 16px;
  transition: 200ms ease-in-out;
  font-family: Tahoma, sans-serif;
}

button:hover {
  background: #65ccb8;
  cursor: pointer;
}

img {
  max-width: 90%;
  transition: 300ms ease-in-out;
  border-radius: 15px;
}

img:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
}

#navbar a:hover {
  text-decoration: none;
  border-radius: 10px;
  background-color: floralwhite;
}

#navbar {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#welcome-section {
  font-size: 20px;
  font-weight: 100;
  padding: 20px 10px 30px;
  text-align: center;
}

#welcome-section p {
  font-size: 16px;
  font-weight: 100;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.project-tile a {
  padding-bottom: 10px;
  align-self: left;
}

.project-tile p {
  padding-bottom: 20px;
  line-height: 125%;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

img:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  #welcome-section {
    padding-bottom: 60px;
  }

  .project-tile {
    flex-direction: row;
  }

  .project-tile a {
    align-self: center;
    padding-left: 20px;
  }

  .project-tile p {
    text-align: center;
    padding-left: 20px;
  }

  .footer {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    padding: 20px;
  }

  .footer a {
    font-weight: bolder;
  }

  @media only screen and (min-width: 1000px) {
    #projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .project-tile {
      max-width: 30%;
      display: flex;
      flex-direction: column;
      padding: 10px 30px;
    }
  }
}
