*{
  margin:0;
  padding:0;
}

.flex-container-header{
  display:flex;
  height: 150px;
  width: 100%;
  justify-content: center;
  background-color: rgb(3, 25, 36);
  text-align: center;
  align-items: center;
  color:rgb(205, 219, 231);
    flex-flow: row wrap;
    padding: 50px 0px 50px;
}

.flex-container-navbar{
  display:flex;
  flex-flow: row wrap;
  width: 100%; 
  justify-content: center;
  gap: 20%;
  align-content: center;
  background-color: rgba(15, 138, 138, 0.774);
  height:5vh;
  color:rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.flex-container-navbar a{
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.flex-container-navbar a:hover{
  color:rgba(160, 59, 59, 0.61);
}

.about-me{
  background-image: url('images/about-me.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 10vh;
  word-spacing: 5px;
  display:flex;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  color:rgba(255, 255, 255, 0.76);
}

#portfolio-header{
  padding: 40px 0 20px 0;
  font-family:system-ui;
  font-size: 35px;
  color:rgb(255, 255, 255);
}

.flex-container-main{
width:100%;
display:flex;
flex-flow: row wrap;
justify-content: space-around;
background-color: rgba(85, 28, 28, 0.61);
}

.display{
  margin:40px;
}

#resize-image{
height: 70%;
margin: 30px 0px 140px 0px
}

#button{
  background-color:darkred;
  border-style: none;
}

#button:hover{
  background-color: darkgreen;
}

.navtext{
  font-size: 1vw;
  margin:0;
}

.navtext:hover{
  color:rgb(245, 212, 212);
}

#contact-me-container{
  display:flex;
  background-color: black;
  justify-content: center;
padding: 20px;
  height: 100px;
}

#contact-me{
  display:flex;
  align-items: center;
  padding:50px 0 0 ;
  font-family:system-ui;
  color:rgb(255, 255, 255);
  margin:0;
  font-size: 35px;
}

.contact-me-container{
  display:flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 90px;
  color:white;
  font-size: 30px;
  font-family:system-ui;
}


.contact-info-container{
  height:300px;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
  background-color: black;
}
.contact-info-item{
display:flex;
flex-flow:column wrap;
justify-content: center;
}

.contact-info-detail{
display:flex;
flex-flow:row wrap;
justify-content: center;
margin: 5px;
}

.contact-icon{
  height: 100px;
  margin:20px;
}

.contact-icon:hover{
  height: 150px;
}

.contact-info-detail{
  color:white;
}


a:link { text-decoration: none; }

#about-me-header{
  font-size: 40px;
  color:bisque
}