.nav-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(36, 18, 89);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

a {
  font-family: Roboto, Arial;
  font-size: 20px;
  font-weight: 500;
  color: white;
  display: block;
  padding: 14px 16px;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 1;
}
